<nav class="navbar navbar-expand-lg bg-body-tertiary py-md-0 py-3">
    <div class="container-lg">
        <a class="navbar-brand" href="#">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-md-center">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{ range .Site.Menus.main }}
                    <li class="nav-item {{ if .HasChildren }}dropdown{{ end }}">
                        <a class="nav-link {{ if .HasChildren }}dropdown-toggle{{ end }} {{ if .IsActive }}active{{ end }}" 
                           href="{{ .URL }}" 
                           {{ if .HasChildren }}role="button" data-bs-toggle="dropdown" aria-expanded="false"{{ end }}>
                            {{ .Name }}
                        </a>
                        {{ if .HasChildren }}
                        <ul class="dropdown-menu">
                            {{ range .Children }}
                            <li>
                                <a class="dropdown-item {{ if .IsActive }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
